<!DOCTYPE html>
<html lang="en">

<head>

<style>
    body {
        background-color: rgb(232, 227, 227);
    }
</style>

	<title>OAuth2</title>
</head>

<body>
	
	<div id="google" style="height: 100%;">
        <h1>Hello</h1>
    </div>
	
</body>

</html>